$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$bodyColor: #EAC39C;
$contentBackground: #fff;
$linkColor: #0066FF;
$headingColor: darken($bodyColor, 40%);
$fotoBorder: $headingColor;
$briefColor: lighten($bodyColor, 5%);
$tableThColor: darken($contentBackground, 10%);